.atom {
	@apply w-10 h-10 bg-white/0 hover:bg-white/20 transition-colors rounded-full fc cursor-pointer text-2xl;
}
/* .trackfor {
	--progress: 0%;
}
.trackfor::after {
	width: var(--progress);
} */
.link {
	@apply px-3 py-2 bg-white/0 hover:bg-white/20 transition-colors rounded-md cursor-pointer w-full text-white/80;
}
/* input[type='range']::-webkit-slider-thumb {
	@apply size-4 appearance-none cursor-grab active:cursor-grabbing bg-black;
	box-shadow: -5005px -8px 0 5000px #fff;
} */
